@()

@main("Demo application") {
    <script src="@routes.Assets.versioned("javascripts/jsPlumb-2.1.4.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(function() {
            jsPlumb.ready(function() {
                jsPlumb.setContainer($("#canvas"));

                function addActor(name) {
                    var actor = $("<div class='actor'>" + name + "</div>").dblclick(function () {
                        jsPlumb.remove(this);
                        var actorName = name;
                        $.post("actor/remove/" + actorName, function (data) {
                            console.log(data);
                        });
                    });

                    $("#canvas").append(actor);
                    jsPlumb.draggable(actor);

                    var inEnpoint = jsPlumb.addEndpoint(actor, {anchor: "Left", isTarget: true});
                    var outEnpoint = jsPlumb.addEndpoint(actor, {anchor: "Right", isSource: true});
                }

            $.get("list", function (data) {
                $.each(data, function (index, value) {
                    $("#actors").append("<option>"+ value + "</option>");
                });
            });

            $("#add").click(function () {
                var actorName = $("#actors").val();

                $.post("actor/" + actorName, function (data) {
                    console.log(data);
                })

                addActor(actorName);
            });
            });
        });
    </script>

    <form action="upload" class="dropzone"></form>

    <br />

    <select name="actors" id="actors"></select>
    <button id="add">Add Actor</button>
    <div id="canvas"></div>
}