@()

@main("Demo application") {
    <script src="@routes.Assets.versioned("javascripts/jsPlumb-2.1.4.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/demo.js")"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script type="text/javascript">
        $(function() {
            jsPlumb.ready(function() {
                jsPlumb.setContainer($("#canvas"));

                function addActor(name, type, strategies) {
                    if (!strategies) {
                        var actor = $("<div id='" + name +"'class='" + type + "'>" + name + "</div>");
                    } else {
                        var actor = $("<div id='" + name +"'class='" + type + "'><span>" + name + "<span> </div>");

                        var select = $("<select></select>").change(function() {
                            var strategy = $(this).find(":selected").text();
                            $.post("actor/set/" + name + "?strategy=" + strategy, function(data) {
                                console.log(data);
                            });
                        });

                        $.each(strategies, function(index, strategy) {
                            select.append("<option>" + strategy + "</option>");
                        });

                        actor.append(select);
                    }

                    actor.dblclick(function () {
                        jsPlumb.remove(this);
                        var actorName = name;
                        $.post("actor/remove/" + actorName, function (data) {
                            console.log(data);
                        });
                    });

                    $("#canvas").append(actor);
                    jsPlumb.draggable(name);

                    if (type === "actor") {
                        var inEnpoint = jsPlumb.addEndpoint(actor, {
                            anchor: "Left",
                            isTarget: true,
                        });
                        var outEnpoint = jsPlumb.addEndpoint(actor, {
                            anchor: "Right",
                            isSource: true
                        });
                    } else if (type === "input") {
                        var outEnpoint = jsPlumb.addEndpoint(actor, {
                            anchor: "Right",
                            isSource: true
                        });
                    } else if (type === "output") {
                        initWebSocket();
                        var inEnpoint = jsPlumb.addEndpoint(actor, {
                            anchor: "Left",
                            isTarget: true,
                        });
                    }


                }

                jsPlumb.bind("beforeDrop", function(data) {
                    console.log("drop")
                    console.log("source: " + data.sourceId);
                    console.log("target: " + data.targetId);

                    $.post("actor/connect?source=" + data.sourceId + "&target=" + data.targetId, function (data) {
                        console.log(data);
                    })

                    return true;
                });

                jsPlumb.bind("beforeDetach", function(data) {
                    console.log("detach")
                    console.log("source: " + data.sourceId);
                    console.log("target: " + data.targetId);

                    $.post("actor/detach?source=" + data.sourceId + "&target=" + data.targetId, function (data) {
                        console.log(data);
                    })

                    return true;

                });

            $.get("list", function (data) {
                $.each(data, function (index, value) {
                    $("#actors").append("<option>"+ value + "</option>");
                });
            });

            $("#add").click(function () {
                var actorName = $("#actors").val();

                $.post("actor/add/" + actorName, function (data) {
                    console.log(data);
                    addActor(data.actor, data.type, data.strategies);
                })

            });

                $("#console").hide();

                $("#showConsole").click(function() {
                    $("#console").toggle("slide");
                });
            });
        });
    </script>

    <form action="upload" class="dropzone"></form>

    <br />

    <select name="actors" id="actors"></select>
    <button id="add">Add Actor</button> <button id="showConsole">Toggle Console</button>
    <div id="canvas"></div>

    <div id="console">
        <div id="output"></div>
        <div class="chart"></div>
    </div>

}